<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/inicio"
        text="Atrás"
        color="light"
        mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Establecimientos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg-image">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="titulo">Establecimientos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="texto">
          <p>En esta sección te facilitaremos un listados de los mejores establecimientos 
          educacionales según el nivel y la metodología. Haz click en la metodología del 
          nivel de preferencia para acceder al listado</p>
        </div><br><br>
        <div class="subtitulo">
          <h1 class="subtitulo">Jardines y Sala Cuna</h1>
        </div>
        <div>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="4">
                <ion-button class="boton" expand="block" color="tertiary" href="https://www.24horas.cl/nacional/junji-realiza-ranking-con-los-50-mejores-jardines-infantiles-particulares--675636" target="_blank">
                  Tradicional
                </ion-button>
              </ion-col>
              <ion-col size="4">
                <ion-button class="boton" expand="block" color="medium" href="https://metodomontessori.org/colegios-jardines-montessori-chile/" target="_blank">
                  Montessori
                </ion-button>
              </ion-col>
              <ion-col size="4">
                <ion-button class="boton" expand="block" color="warning" href="https://es-la.facebook.com/groups/28946734738/posts/Jardines-y-Colegios-Waldorf-en-Chile:/10151683392049739/" target="_blank">
                  Waldorf
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div><br>
        <div class="subtitulo">
          <h1 class="subtitulo">Educación Primaria y Secundaria</h1>
        </div>
        <div>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="4">
                <ion-button class="boton" expand="block" color="tertiary" href="https://portaleduca.cl/ranking-colegios-2021-los-top-100-de-puntajes-mas-altos-en-la-prueba-de-transicion-pdt/" target="_blank">
                  Tradicional
                </ion-button>
              </ion-col>
              <ion-col size="4">
                <ion-button class="boton" expand="block" color="medium" href="https://metodomontessori.org/colegios-jardines-montessori-chile/" target="_blank">
                  Montessori
                </ion-button>
              </ion-col>
              <ion-col size="4">
                <ion-button class="boton" expand="block" color="warning" href="https://es-la.facebook.com/groups/28946734738/posts/Jardines-y-Colegios-Waldorf-en-Chile:/10151683392049739/" target="_blank">
                  Waldorf
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
