.bg-image {
    background-image: url("/assets/fondo.jpg");
    width:auto;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 0;
    padding-top: 30px;
}

ion-card {
    height: 95%;
}

.titulo{
    padding-top: 10px;
    color: black;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

.formulario{
    padding-top: 20px;
}

.botones{
    padding-top: 30px;
    font-weight: bold;
}

.boton{
    font-weight: bold;
}