.bg-image {
    background-image: url("/assets/fondo9.jpg");
    width:auto;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 0;
    padding-top: 30px;
}

.titulo-nav {
    text-align: center;
}

ion-card {
    height: 95%;
}

.titulo {
    padding-top: 60px;
    color: var(--ion-color-secondary) !important;
    font-weight: bold;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

.formulario {
    padding-top: 40px;
}

.botones {
    padding-top: 60px;
    font-weight: bold;
}

.boton {
    font-weight: bold;
}

.enlace {
    // color: #ffffff;
    color: var(--ion-color-secondary) !important;
    font-size: 15px;
    text-align: center;
}
a {
    text-decoration: none;
    // color: #ffffff;
    color: var(--ion-color-secondary) !important;
    font-weight: bold;
}